<html>
<head>
{{template "header"}}

</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  <div class="container">
    <div class="datepicker" class="formentry">
        <form action="/dashboard" method="POST">
          <table style="width:100%">
            <tr>
              <td style="width:33% text-align:center">From:<input type=date class="form-control" name="startdate" value="{{.Startdate}}"></td>
              <td style="width:33% text-align:center">To:<input type=date class="form-control" name="enddate" value="{{.Enddate}}"></td>
              <td style="width:33% text-align:center"><button type=submit class="btn btn-primary">Update</button></td>
            </tr>
          </table>
        </form>
    </div>
    <div class="graph1">
        <canvas id="myChart" width="15vw" height="10vh"></canvas>
    </div>
    <div class="graph2">
        <canvas id="myChart2" width="15vw" height="10vh"></canvas>
    </div>
    <div class="graph3">
        <canvas id="myChart3" width="15vw" height="10vh"></canvas>
    </div>
    <div class="graph4">
        <canvas id="myChart4" width="15vw" height="10vh"></canvas>
    </div>
    <div class="graph5 table-wrapper"><div class="table-wrapper">
      <table class='table'>
        <thead>
        <tr>
          <th scop="col">Order</th>
          <th scop="col">User</th>
          <th scop="col">Issue</th>
          <th scop="col">Comment</th>
          <th scop="col">Time</th>
        </tr>
        </thead>
        <tbody>
        {{range .Table1}}
          <tr>
            <th scope='row'>{{.Col1}}</th>
            <td>{{.Col2}}</td>
            <td>{{.Col3}}</td>
            <td>{{.Col4}}</td>
            <td>{{.Col5}}</td>
          </tr>
        {{end}}
        </tbody>
      </table></div>
    </div>
  </div>
  <script>
    new Chart("myChart", {
    type: "bar",
    data: {
      labels: [{{range .Graph1}}'{{.X}}',{{end}}],
      datasets: [{
        label: 'Items Picked/Hr',
        data: [{{range .Graph1}}'{{.Y}}',{{end}}],
        backgroundColor: ['rgba(102, 255, 153, 0.2)'],
        borderColor: ['rgba(0, 102, 0, 1)'],
        borderWidth: 1
      }]
    },
    options: {
      legend: {display: false},
      scales: {
        xAxes: [{ticks: {min: 40, max:160}}],
        yAxes: [{ticks: {min: 6, max:16}}],
      }
    }
    });
      new Chart("myChart2", {
      type: "line",
      data: {
        labels: [{{range .Graph2}}'{{.X}}',{{end}}],
        datasets: [{
          label: 'Items Picked/Hr',
          pointRadius: 4,
          pointBackgroundColor: 'rgba(0, 102, 0, 1)',
          borderColor: 'rgba(0, 102, 0, 1)',
          data: [{{range .Graph2}}'{{.Y}}',{{end}}]
        }]
      },
      options: {
        response: true,
        maintainaspectratio: false,
        legend: {display: false},
        scales: {
          xAxes: [{ticks: {min: 40, max:160}}],
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
      });
        new Chart("myChart3", {
        type: "bar",
        data: {
          labels: [{{range .Graph3}}'{{.X}}',{{end}}],
          datasets: [{
            label: 'Target',
            pointRadius: 0,
            pointBackgroundColor: '#cccc00',
            borderColor: '#cccc00',
            data: [{{range .Graph3}}'0.05',{{end}}],
            borderDash: [10,5],
            type:'line'
          },{
            label: 'Limit',
            pointRadius: 0,
            pointBackgroundColor: '#CC3300',
            borderColor: '#CC3300',
            data: [{{range .Graph3}}'0.1',{{end}}],
            borderDash: [10,5],
            type:'line'
          },{
            label: 'Errors/Hr',
            data: [{{range .Graph3}}'{{.Y}}',{{end}}],
            backgroundColor: ['#FFCCCC'],
            borderColor: ['#CC3300'],
            borderWidth: 1
          }]
        },
        options: {
          legend: {display: false},
          scales: {
            xAxes: [{ticks: {min: 40, max:160}}],
            yAxes: [{ticks: {min: 6, max:16}}],
          }
        }
      });
        new Chart("myChart4", {
        type: "line",
        data: {
          labels: [{{range .Graph4}}'{{.X}}',{{end}}],
          datasets: [{
            label: 'Service Level',
            pointRadius: 4,
            pointBackgroundColor: '#009933',
            borderColor: '#009933',
            data: [{{range .Graph4}}'{{.Y}}',{{end}}]
          },{
            label: 'Service Level + 1',
            pointRadius: 4,
            pointBackgroundColor: '#66ccff',
            borderColor: '#66ccff',
            data: [{{range .Graph4}}'{{.Z}}',{{end}}]
          },{
            label: 'Target',
            pointRadius: 0,
            pointBackgroundColor: '#cccc00',
            borderColor: '#cccc00',
            data: [{{range .Graph4}}'0.8',{{end}}],
            borderDash: [10,5]
          }]
        },
        options: {
          response: true,
          maintainaspectratio: false,
          legend: {display: false},
          scales: {
            xAxes: [{ticks: {min: 40, max:160}}],
            yAxes: [{ticks: {min: 6, max:16}}],
          }
        }
        });
  </script>
  {{template "footer" .}}
</body>
</html>
