<html>
<head>
{{template "header"}}
</head>
<body>
  {{template "navigation" .}}
  <br>
  {{template "messagebox" .}}
  <div class = "container3">
    <div class = "formentry">
  <form action="/signin" method="POST">
    <label for="exampleInputEmail1"><h3>Username</h3></label>
    <input type="text" class="form-control" name="username" id="username"><br>
    <label for="exampleInputPassword1"><h3>Password</h3></label>
    <input type="password" class="form-control" name="password" id="password"><br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
  </div>
  {{template "footer" .}}
</body>
</html>
